@model PagingResult<WebAppChamThiOl.Entities.SUBJECT>
@{
    ViewBag.Title = "Danh sách môn học";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="card-title">@ViewBag.Title</h3>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Create", "Subject")" class="btn btn-success">Thêm mới</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-inline" asp-action="index" asp-controller="Subject" method="get">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Đề</label>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="inputPassword2" class="sr-only">Tên thể loại</label>
                                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Tên thể loại">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
                        </form>
                        <table class="table table-bordered">
                            <tr>
                                <th>STT</th>
                                <th>
                                    Tên môn học
                                </th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                            @{ var index = 0; }
                            @foreach (var item in Model)
                            {
                                ++index;
                                <tr>
                                    <td>
                                        @index
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="nav-icon fas fa-edit"></i></a>
                                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a href="#" class="btn btn-danger" onclick="deleteModel(@item.Id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: space-between; justify-content: space-between; align-items: center;">
                            Trang @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages
                            <ul class="pagination">
                                @{
                                    if (Model.HasPreviousPage)
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = Model.PageIndex - 1 })"
                                           class="btn btn-default">
                                                Trước
                                            </a>
                                        </li>
                                    }
                                    for (int i = Model.PageIndex; i <= Math.Min(Model.PageIndex + 9, Model.TotalPages); i++)
                                    {
                                        <li class="@(i == Model.PageIndex ? "page-item active" : "page-item")">
                                            <a class="page-link" href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = i })">@i</a>
                                        </li>
                                    }
                                    if (Model.HasNextPage)
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = Model.PageIndex + 1 })"
                                           class="btn btn-default">
                                                Tiếp
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="parallax">

    <div class="bg-white">
        <div class="container">
            <h2>Danh sách thể loại</h2>
            <form class="form-inline" asp-action="index" asp-controller="Subject" method="get">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Đề</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Tên thể loại</label>
                    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Tên thể loại">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
            </form>
            <a style="margin-top: 20px; margin-bottom: 20px;" asp-action="Create" class="btn btn-success">Thêm mới</a>

            <table class="table">
                <tr>
                    <th>
                        Tên thể loại
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="nav-icon fas fa-edit"></i></a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="#" class="btn btn-danger" onclick="deleteModel(@item.Id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }

            </table>
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: space-between; justify-content: space-between; align-items: center;">
                Trang @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) / @Model.TotalPages
                <ul class="pagination">
                    @{
                        if (Model.HasPreviousPage)
                        {
                            <li>
                                <a href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = Model.PageIndex - 1 })"
                               class="btn btn-default">
                                    Trước
                                </a>
                            </li>
                        }
                        for (int i = Model.PageIndex; i <= Math.Min(Model.PageIndex + 9, Model.TotalPages); i++)
                        {
                            <li class="@(i == Model.PageIndex ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = i })">@i</a>
                            </li>
                        }
                        if (Model.HasNextPage)
                        {
                            <li>
                                <a href="@Url.Action("Index", new { keyword = Context.Request.Query["keyword"], page = Model.PageIndex + 1 })"
                               class="btn btn-default">
                                    Tiếp
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <script>
        function deleteModel(id) {
            if (confirm("Bạn có chắc chắn muốn xóa bản ghi này?")) {
                let data = {
                    id: id
                };
                var vm = this;
                $.ajax({
                    url: '/subject/delete/' + id,
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        if (res) {
                            location.reload();
                        }
                        else {
                            alert('Xảy ra lỗi, liên hệ quản trị viên!')
                        }
                    }
                });
            }
            return false;
        }
    </script>
}
